{%- if settings.show_btt -%}
    <a onclick="scrollToTop();return false" class="button" id="backtotop--button">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 20 20">
        <path d="M0 15c0 0.128 0.049 0.256 0.146 0.354 0.195 0.195 0.512 0.195 0.707 0l8.646-8.646 8.646 8.646c0.195 0.195 0.512 0.195 0.707 0s0.195-0.512 0-0.707l-9-9c-0.195-0.195-0.512-0.195-0.707 0l-9 9c-0.098 0.098-0.146 0.226-0.146 0.354z" fill="#000000"/>
      </svg>
    </a>

    <script>
      // Get the button:
      let mybutton = document.getElementById("backtotop--button");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          mybutton.classList.add("show-btt");
        } else {
          mybutton.classList.remove("show-btt");
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        })
      }
    </script>
  {%- endif -%}