.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.6;
}

.rating-star {
  --color-rating-star: rgb(var(--color-rating));
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: 0;
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-rating-star) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: inline-block;
  line-height: 1;
  margin: 0;
  position: relative;
  top: 0px;
  left: 2px;
  font-size: calc(var(--font-size-body) - 2px);
}
#judgeme_product_reviews .jdgm-rev-widg .jdgm-star,
.jdgm-rev-widg__summary-stars .jdgm-star {
	display: flex;
	padding: 0 !important;
}
.jdgm-rev-widg__summary-stars {
	display: inline-flex !important;
  gap: 4px;
}
.jdgm-star:before {
  --size: 14px;
	content: "" !important;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L9.1623 4.6178L14 5.35079L10.5 8.92408L11.3246 14L7 11.5995L2.67539 14L3.5 8.92408L0 5.35079L4.8377 4.6178L7 0Z' fill='%2315191E'/%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
	background-size: var(--size);
	display: block;
}
.jdgm-star.jdgm--off:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17' fill='none'%3E%3Cpath d='M9 2L11.1623 6.6178L16 7.35079L12.5 10.9241L13.3246 16L9 13.5995L4.67539 16L5.5 10.9241L2 7.35079L6.8377 6.6178L9 2Z' stroke='%2315191E' stroke-miterlimit='10'/%3E%3C/svg%3E");
}
.jdgm-prev-badge__stars{
  display: flex;
  gap: 5px;
}
.jdgm-prev-badge__text{
  display: none;
}
@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
