.cart {
  position: relative;
  display: block;
}

.cart__inner {
	gap: 40px;
	justify-content: center;
  flex-wrap: wrap;
}
.cart__header {
  width: 100%;
}
.cart__header .title-wrapper-with-link{
  margin-bottom: 0;
}
.cart__aside {
	width: var(--width-aside);
	padding: 24px!important;
  border-radius: var(--buttons-radius-outset);
  background: #ffffff;
  box-shadow: 4px 8px 40px 0px rgba(18, 27, 44, 0.08);
}
.cart__item--form {
  width: calc(100% - var(--width-aside) - 40px);
}
.cart__heading h2 {
	margin-top: 0;
  padding-bottom: 10px;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__aside {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
  font-size: 24px;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  margin-bottom: 5px;
  display: none;
}

.cart__note .field__input {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 1rem;
}

.cart__note .text-area {
  resize: vertical;
}
.cart__blocks .button{
  width:100%;
  height: 52px;
  max-width: 100%;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}
@media screen and (max-width: 989px) {
  .cart__item--form {
    width: 100%;
  }
  .cart__aside {
    width: 100%;
  }
  .title-wrapper-with-link a {
    margin-top: 10px;
    display: inline-block;
  }
}