.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.newsletter-form__field-wrapper .field {
  display: flex;
}
.newsletter-form__field-wrapper .field__input {
  outline: none;
  padding: 10px 20px;
  min-height: var(--buttons-size);
  flex: 1;
  width: calc(100% - 160px);
  border-radius: var(--buttons-radius);
}

.newsletter-form__field-wrapper .field__button {
  min-width: 160px;
}
.footer-block__newsletter .footer-block__heading {
  font-size: var(--font-size-heading);
  font-weight: 600;
  margin-bottom: 5px;
}
.footer-block__newsletter .footer-block__subheading p {
  margin-top: 0;
  margin-bottom: 24px;
}
.newsletter-form__field-wrapper .field__button{
  border-radius: var(--buttons-radius);
}
.footer-block__info-wrapper .newsletter-form__field-wrapper{
  margin-bottom: 15px;
}
@media screen and (min-width: 542px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
  }
  .footer-block__newsletter .footer-block__subheading p {
    margin-bottom: 8px;
  }
  .newsletter-form__field-wrapper .field__input {
    border-radius: var(--border__radius) 0px 0px var(--border__radius);
    border-right: none;
  }
  .newsletter-form__field-wrapper .field__button{
    border-radius: 0px var(--buttons-radius) var(--buttons-radius) 0px;
  }
  .footer-block__info-wrapper .newsletter-form__field-wrapper .button{
    border-radius: 0px var(--buttons-radius) var(--buttons-radius) 0px;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
  font-weight: 400;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
  .newsletter-form__field-wrapper{
    padding: 8px 8px 5px 0px;
    border: 1px solid rgb(var(--color-input-border));
  }
  .newsletter-form__field-wrapper .field {
    display: flex;
  }
  .newsletter-form__field-wrapper .field__input {
    border: none;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}
@media screen and (max-width: 540px) {
  .newsletter-form__field-wrapper .field {
      flex-direction: column;
  }
  .newsletter-form__field-wrapper .field__input {
    width: 100%;
  }
}