.header__icon--menu {
  position: initial;
  border-radius: var(--buttons-radius);
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 350px;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: 100vh;
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  padding: 0px;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  align-content: space-between;
  /* overflow-y: auto; */
  height: 100%;
  padding: 15px 20px;
}
.menu-drawer__inner-container .header__heading-link {
	text-align: left;
  width: 100%;
  padding: 8px 20px;
}
.menu-drawer__navigation {
  padding: 20px 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.1rem 3rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
  padding: 24px;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 0;
  flex-wrap: wrap;
	padding: 0 !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.menu-drawer__close-button > div {
	width: 100%;
  font-size: 14px;
}
.menu-drawer__close-button > div svg {
  position: relative;
  top: 2px;
  left: -5px;
}
.menu-drawer__close-button .sub-menu__title {
	width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E3E3E3;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}

.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 0;
}

.menu-drawer__navigation + .menu-drawer__navigation {
	padding-top: 0;
}
.menu-drawer__menu li + li {
  margin-top: 20px;
}
.menu-drawer__menu .link {
  justify-content: space-between;
  line-height: 1.5;
	padding: 4px 0;
	font-size: var(--fontsize_menulevel1);
}
.menu-drawer__menu svg {
  transform: rotate(-90deg);
}
.menu-drawer__close-button svg {
	transform: rotate(90deg);
}
.header-category__title--mb {
	font-size: var(--fontsize_menulevel1);
	padding-left: var(--padding-container);
	border-bottom: 1px solid rgba(var(--color-foreground), 0.3);
	padding-bottom: 8px;
}
.menu-drawer__utility-links {
	border-top: 1px solid rgba(var(--color-foreground), 0.3);
  padding-bottom: 120px;
}
.menu-drawer__utility-links svg {
	width: 20px;
	margin-right: 10px;
}
.menu-drawer__social {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px 0;
}
.menu-drawer__list--social {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.menu-drawer__list--social .icon--social {
	width: 17px;
}
.menu-drawer__social--text {
	font-size: var(--font-size-button);
	line-height: 1.5;
}
.menu-drawer__welcome {
  border-top: 1px solid #E3E3E3;
  padding: 20px 0;
}
.menu-drawer__welcome--button {
  margin-top: 16px;
}