.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}

@media screen and (max-width: 749px) {
  .search-modal__form input {
    height: var(--buttons-size);
  }
  .search-modal__close-button svg {
    max-width: 20px;
    max-height: 20px;
  }
}
