.layout_special {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: 60% 1fr 40%;
  list-style: none;
  gap: var(--grid-desktop-horizontal-spacing);
}
.layout_special .grid__item {
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
}
.layout_special .grid__item:first-child {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
.layout_special.style--style2 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.layout_special.style--style2 .grid__item:nth-child(n + 4) {
  grid-column-end: span 2;
  grid-row-end: span 1;
}
@media screen and (max-width: 749px) {
  .layout_special {
    grid-template-columns: 1fr 1fr !important;
    gap: 15px!important;
  }
}
@media screen and (max-width: 560px) {
  .layout_special {
    grid-template-columns: 1fr !important;
  }
  .layout_special .grid__item {
    grid-column-end: span 1 !important;
    grid-row-end: span 1 !important;
  }
}
