.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border: 0;
  left: 0;
  overflow-y: auto;
  padding: 40px 30px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  border: 1px solid rgba(var(--color-foreground), .1);
  text-align: left;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content,
.mega-menu:hover .mega-menu__content,
.header-menu__detail:hover .header__submenu {
  opacity: 1;
  transform: translateY(0);
  border: 1px solid rgba(var(--color-foreground), .15);
}

.mega-menu__list {
  display: grid;
  gap: 20px 48px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

/* Mega menu */


.list-menu .link .link {
  padding-top: 4px;
  padding-bottom: 4px;
}
.list-menu .mega-menu__link--level-2 {
  font-size: var(--fontsize_menulevel2);
  font-weight: 600;
  color: var(--color_menulevel2);
  line-height: 1.5;
  padding: 0;
}
.list-menu .mega-menu__link--level-3 {
  font-size: var(--fontsize_menulevel3);
  color: var(--color_menulevel3);
  padding: 6px 0;
}
.list-menu .mega-menu__link--level-2 + ul {
  margin-top: 6px;
}
.list-menu .header__menu-item, .list-menu__right .link span {
  position: relative;
}
.dropdown--menu.mega-menu .list-menu__item:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  z-index: -1;
}
.dropdown--menu.mega-menu:hover .list-menu__item:before {
  visibility: visible;
  z-index: 999;
}
.list-menu .header__menu-item span {
  text-decoration: none !important;
}
.list-menu .header__menu-item[aria-expanded="true"],
.list-menu .header__menu-item:hover {
  color: rgb(var(--color-subheading))!important;
}
.dropdown--menu:hover > .header__menu-item:after, 
li > .header__menu-item:hover:after {
  width: calc(100% - 40px);
}
.mega-menu__link {
  display: inline-block;
  position: relative;
}
.header__submenu a.header__menu-item {
  display: inline-block !important;
}
.header__submenu .header__menu-item:after {
  border-width: 1px;
  bottom: 8px;
}
.header__submenu .header__menu-item:hover {
  text-decoration: none;
}
.mega_banner{
  width: 100%;
  max-width: 567px;
}
.mega-menu__list{
  width: 100%;
}
.mega-menu__content .mega__flex.has-banner{
  display: flex;
  justify-content: space-between;
}
.mega_banner img{
  width: 100%;
  height: auto;
}
.mega-custom_links{
  padding-top: 40px;
}
.mega-custom_links .links{
  border-top: 2px solid #D8DCE3;
}
.mega-custom_links .links{
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 56px;
  padding: 0;
  padding-top: 40px;

}
.mega-custom_links .card-wrapper {
  text-align: center;
}
.mega-custom_links  .card__heading{
  font-weight: 500!important;
  padding: 2px 0px;
}
.mega-custom_links  .card__heading a:hover span{
  border-bottom: 1px solid;
}
@media screen and (min-width: 990px) {
  .menu-relative .mega-menu__content {
    width: 100%;
  }
 /* Mega menu Style 1 */
  .mega-menu__content .mega__flex {
    width: 100%;
  }
  .mega-menu__list {
    display: grid;
    grid-template-columns: repeat(var(--column-block),minmax(0,1fr));
    padding: 0;
  }
  
  .mega_banner {
    margin-top: 8px;
  }
  
}
@media screen and (min-width: 1200px) {
  .menu-relative {
    position: relative;
  }
  .menu-relative .mega-menu__content {
    width: var(--width-block);
  }
}