.list-payment {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
  padding-left: 0;
}

@media screen and (min-width: 750px) {
  .list-payment {
    justify-content: flex-start;
    padding-top: 0;
  }
}

.list-payment__item {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}
.list-payment__item img {
  width: 40px;
}
.footer__payment{
  display: flex;
  align-items: center;
  gap: 34px;
}
.footer__payment .title{
  margin: 0;
}