.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
	margin-left: -0.9rem;
	margin-top: 25px;
}
@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 0.9rem;
  color: rgb(var(--color-foreground));
}
.list-social__link img{
  height: 2.4rem;
  width: 2.4rem;
  transition: all .4s;
}
.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}
.list-social__link:hover img{
  transform: translateY(-3px);
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
.list-social__link svg {
	width: 17px;
	height: 17px;
}

@media screen and (max-width: 749px) {
  .list-social {
    justify-content: flex-start;
    margin-top: 0;
  }
  .footer-block__details-content {
    margin: 0;
  }
}