.accordion summary {
  display: flex;
  justify-content: space-between;
  position: relative;
  line-height: 1.5;
  padding: 1.2rem;
  border-radius: 4px 4px 0 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion summary .icon {
	width: 24px;
	height: 24px;
}
.accordion summary[aria-expanded="false"] .icon-minus,
.accordion summary[aria-expanded="true"] .icon-plus {
	display: none;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: currentColor;
  font-weight: 600;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 24px;
  margin-top: 24px;
  word-break: break-word;
  overflow-x: auto;
  padding: 0;
}

.accordion__content img {
  max-width: 100%;
}
@media screen and (min-width: 750px) {
  .accordion summary {
    padding: 2rem 2.4rem;
  }
  .accordion__content {
    padding: 0 24px;
  }
}