:root {
  --width_vertical: 267px;
}
@media screen and (max-width: 480px) {
  :root {
    --width_vertical: auto;
  }
}
.vertical-menu__list {
  padding: 0;
  list-style: none;
  position: absolute;
  top: -1px;
  left: 100%;
  height: 100%;
  width: calc(100vw - 60px - 267px);
  max-width: calc(var(--page-width) - 327px);
  background: #fff;
  overflow: auto;
  padding: 25px 30px 10px;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(10px);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  border: 1px solid rgba(var(--color-foreground), .15);
}
.menu--vertical__item:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.vertical-menu__list:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: var(--category-menu-bg);
}
.vertical-menu__list li:not(.mega-menu__text) {
  flex: 1;
}
.mega-menu__text {
  width: 100%;
  background-color: transparent;
  margin-top: 40px;
}
.mega-menu__text > a {
  gap: 8px;
}
.menu--vertical .header__menu-item {
  font-size: var(--fontsize_menulevel1);
  font-weight: 500;
  color: var(--color_menulevel1);
}
.menu--vertical .link .link {
  padding-top: 4px;
  padding-bottom: 4px;
}
.menu--vertical .mega-menu__link--level-2 {
  font-size: var(--fontsize_menulevel2);
  font-weight: 600;
  color: var(--color_menulevel2);
  line-height: 2;
}
.menu--vertical .mega-menu__link--level-2 + ul .link {
  font-size: var(--fontsize_menulevel3);
  color: var(--color_menulevel3);
  line-height: 1.2;
  padding: 10px 0;
}
.menu--vertical .header__menu-item {
  position: relative;
}
.menu--vertical .header__menu-item span {
  text-decoration: none !important;
}
.menu--vertical .header__menu-item:after {
  content: "";
  position: absolute;
  left: 23px;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid;
  transition: width 0.3s;
}
