.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .product-media-container {
  margin-bottom: var(--media-shadow-vertical-offset);
  max-width: 100%;
}

.slider.flickity-enabled{
  display: block !important;
}

.featured-product .product__media-item {
  padding-left: 0;
  width: 100%;
}

.featured-product .placeholder-svg {
  display: block;
  height: auto;
  width: 100%;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button + .product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
  min-height: 4.4rem;
}

.share-button + .product__view-details::after {
  content: '';
  clear: both;
  display: table;
}

.featured-product  .share__wrapper{
  padding:20px 0px;
}
.featured-product .product-form__input{
  padding: 20px 0px;
}
.featured-product .product__view-details .icon{
  display: inline-block;
  position: relative;
  top: 3px;
}
.featured-product__heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-featured__product  .block-product__sidebar{
  padding: 22px;
  border: 1px solid var(--sider_border_color);
}
.section-featured__product  .block-product__sidebar .heading {
  font-weight: 400;
  line-height: 1;
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--sider_border_color);
}
.section-featured__product .block-product__sidebar .card--horizontal .card__inner {
  width: 66px;
  min-width: 66px;
}
.section-featured__product .block-product__sidebar .link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 35px 0px 15px;
  font-size: var(--fontsize_product_title);
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 0 0 5rem;
  }

  .background-secondary .featured-product:not(.product--no-media).product--right > .product__info-wrapper {
    padding: 0 5rem 0 0;
  }


  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
  .product--medium:not(.product--no-media) .product__media-wrapper, .product--small:not(.product--no-media) .product__info-wrapper{
    max-width: 50%;
    width: calc(50% - 15px);
  }
  .product--medium:not(.product--no-media) .product__info-wrapper, .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 50%;
    width: calc(50% - 15px);
    padding-left: 20px;
  } 
}
