
.review-list {
	position: static;
}
.review-item {
	text-align: center;
	width: 100%;
}
.review-count {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 6px;
}
.section-review .layout-style_1 .review-item__content {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 16px;
}
.review-item__name {
    margin-bottom: 3px;
	font-weight: 500;
	line-height: 28px;
}
.review-comment {
	color: var(--color-subheading);
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 450px;
}
.review-item__note{
	color: var(--color-subheading);
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 12px;
}
.review-item__position {
	margin-top: 4px;
    line-height: normal;
}

.section-review .review-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.section-review .review-item__img {
	width: 195px;
	height: 100%;
	display: block;
	object-fit: cover;
}
.section-review .layout-style_1 .review-item__content{
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 44px;
	flex: 1 0 0;
}
.review-item__product-image{
	display: flex;
	align-items: center;
	gap: 12px;
	align-self: stretch;
}
.review-item__product-image .product-link__text{
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
}

.review-item__avatar{
	height: 100%;
}
.section-review .flickity-slider .review-item{
	margin-right: var(--grid-desktop-horizontal-spacing);
}
.section-review .layout-style_1 .flickity-prev-next-button.next{
	right: var(--padding-container);
}
.section-review .layout-style_1 .flickity-prev-next-button.previous{
	left: auto;
	right: calc(var(--padding-container) + 70px);
}
.section-review .layout-style_1 .flickity-prev-next-button{
	top: 0px;
    transform: translateY(0);
}
.page-layout__custom.layout-style_1{
	padding-left: var(--padding-container);
}

.section-review .layout-style_2 .review-item__content,
.section-review .layout-style_2 .content-bottom,
.section-review .layout-style_2 .content-top{
	text-align: center;
	width: 100%;
}
.section-review .layout-style_2 .review-comment{
	margin: 0 auto;
}
.section-review .layout-style_2 .review-count,
.section-review .layout-style_2 .review-item__product-image{
	justify-content: center;
}
.section-review .layout-style_2 .flickity-button{
	background: transparent!important;
}
.section-review .layout-style_2 .flickity-button:hover{
	color: #15191e!important;
	fill: #15191e!important;
}
.section-review .layout-style_2 .flickity-prev-next-button.previous{
	left: var(--padding-container);
}
.section-review .layout-style_2 .flickity-prev-next-button.next{
	right: var(--padding-container);
}

.section-review .layout-style_2 .review-comment{
	max-width: 1100px;
	font-weight: 500;
	line-height: 120%;
	padding-bottom: 30px;
}

.section-review .layout-style_2 .review-count{
	margin-bottom: 30px;
}

.section-review .layout-style_2 .review-item__name{
	margin-bottom: 15px;
}
@media screen and (max-width: 749px) {
	.review-count {
		margin-bottom: 12px;
	}
	.review-item__name {
		margin-top: 12px;
	}
	.review-list .flickity-button {
		display: none;
	}
	.review-list .flickity-page-dots {
		bottom: 21px;
	}
	.review-item__avatar{
		display: none;
	}
	.review-item__content {
		padding: 0;
	}
	.section-review .layout-style_2 .review-comment{
		font-size: 24px!important;
	}
}

@media screen and (max-width: 449px) {
	.section-review .review-item{
		display: block;
	}
	.section-review .review-item__img{
		width: 100%;
	}
	.section-review .review-item__content{
		gap: 25px;
		margin-bottom: 30px;
	}
	.page-layout__custom{
		padding-right: var(--padding-container);
	}
}

@media screen and (min-width:750px){
	.section-review .layout-style_1 .flickity-page-dots{
		display: none;
	}
}

@media screen and (min-width:1025px){
	.section-review .review-item__product-image:hover .product-link__text span{
		border-bottom: 1px solid;
	}
	.section-review .layout-style_1 .review-item:hover{
		background: #ffffff;
	}
}

@media screen and (min-width: 1200px) {
    .page-layout__custom.layout-style_1 .grid--2-col-desktop .grid__item{
		max-width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
	}
}

@media screen and (min-width: 1400px) {
    .page-layout__custom.layout-style_1 .grid--2-col-desktop .grid__item{
		max-width: calc(38% - var(--grid-desktop-horizontal-spacing) / 2);
	}
}

@media screen and (min-width: 1500px){
	.page-layout__custom.layout-style_1{
		padding-left: calc((100% - var(--page-width) + var(--padding-container) + var(--padding-container) ) / 2 );
	}
	.section-review .layout-style_1 .flickity-prev-next-button.next{
		right: calc(50% - var(--page-width) / 2 + var(--padding-container));
	}
	.section-review .layout-style_1 .flickity-prev-next-button.previous{
		right: calc(50% - var(--page-width) / 2 + var(--padding-container) + 70px);
	}
}
