.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list-title {
  margin: 0;
}

.collection-list-wrapper.has-border .collection-list__item{
  border: 1px solid var(--color_border);
  padding: 5px;
}
.collection-list-wrapper .card__heading{
  color: rgb(var(--color-heading));
  padding: 5px 0px;
}

.collection-list-wrapper.style-custom .collection-list .card{
  display: flex;
  align-items: flex-start;
  flex-direction: initial;
  gap: 20px;
  width: 100%;
}
.collection-list-wrapper.style-custom .collection-list .card__inner{
  width: 45%;
}
.collection-list-wrapper.style-custom .collection-list .card__content{
  width: 55%;
}
.collection-list-wrapper.style-custom .card__heading{
  font-weight: 500;
  font-size: calc(var(--font-size-body) + 2px);
}
.collection-list-wrapper .card__links{
  padding: 0;
  list-style-type: none;
}
.collection-list-wrapper .card__links a{
  font-size: calc(var(--font-size-body) - 2px);
}
.collection-list-wrapper.style-custom .card__heading a{
  text-align: left;
}
.collection-list-wrapper .title-wrapper-with-link{
  display: block;
}
/* list collections */

.template-list-collections .card__information{
  text-align: center;
  padding: 0;
}
.template-list-collections .list-collections .card__heading{
  text-align: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
.template-list-collections .collection-list .card__content{
  position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.template-list-collections .list-collections__header{
  margin-bottom: 50px;
}
@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }  
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item:hover {
    border-color: rgba(var(--color-button))!important;
  }
  .collection-list-wrapper .card__links span{
    position: relative;
  }
  .collection-list-wrapper .card__links span:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    border-bottom: 1px solid;
    transition: width .3s;
  }
  .collection-list-wrapper .card__links a:hover span:after {
    width:100%;
  }

  .collection-list-wrapper .layout-custom__wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
  }
  .collection-list-wrapper .layout-custom__wrapper .title-wrapper-with-link{
    width: 210px;
  }
  .collection-list-wrapper .layout-custom__wrapper slider-component{
    width: calc(100% - 315px);
  }
  
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}