.template-page .content-for-layout .page-width{
	max-width: 1200px;
}

.about-content .heading {
	line-height: normal;
	margin-top: 0;
	margin-bottom: 12px;
}
.about-content .rte {
	margin-top: 24px;
}
.about-statistical .page-width{
 	border-top: 1px solid rgb(var(--color-input-border));
}
.about-statistical .title-wrapper-with-link {
	margin-bottom: 50px;
	row-gap: 12px;
}
.about-statistical .title-wrapper-with-link .heading {
	font-weight: 600;
	line-height: 1;
	width: 100%;
}
.about-statistical .info {
	max-width: 586px;
}
.about-statistical .info p {
	margin: 0;
}
.about-statistical .brand-card__info .heading {
	display: inline-block;
	line-height: 1;
	position: relative;
	margin-bottom: 10px;
	font-weight: 400;
}
.about-statistical .brand-card__icon{
	display: block;
	margin: 0 auto 20px;
}
.about-statistical  .brand-card__icon svg{
	width: 100%;
    height: 100%;
}
.about-statistical .brand-card__info .heading:before {
	content: "+";
	position: absolute;
	top: 0;
	left: calc(100% + 5px);
	transform: translate(-50%, -50%);
}
.about-content .sub_heading{
	line-height: 1.2em;
	font-weight: 400;
	padding: 30px 0px 20px;
}
.teams .title-wrapper-with-link .title{
	font-weight: 400;
}
.brands .title-wrapper-with-link,
.teams .title-wrapper-with-,
.statistical__heading{
    max-width: 770px;
    margin: 0 auto;
}
@media screen and (min-width: 750px) {
	.about-content {
		max-width: 770px;
		margin: 0 auto;
	}
	.about-content .sub_heading{
		padding: 60px 0px 40px;
	}
	.about-statistical .brand-card__icon{
		margin: 0 auto 30px;
	}
}
@media screen and (max-width: 749px) {
	.about-content {
		padding-top: 24px;
	}
	.about-content .heading {
		margin-bottom: 4px;
	}
	.about-content .rte {
		margin-top: 12px;
	}
	.brand-list li{
		padding-bottom: 15px;
	}
}