.footer__content-top {
  padding-bottom: 4rem;
  display: block;
}
.footer__content-top .grid.has-border-top{
  padding-top: 7rem;
  border-top: 1px solid rgb(var(--color-input-border));
}

.footer__content-bottom {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgb(var(--color-input-border));
}

.footer__content-bottom-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}
.footer__content-bottom-wrapper .footer__copyright p {
	margin: 0;
}
.footer__localization .disclosure__list-wrapper {
	position: absolute;
	top: auto;
	bottom: calc(100% + 1.5rem);
	right: 0;
}
.footer a:hover{
  color: rgb(var(--color-button))!important;
}


.footer__localization:empty + .footer__column--info {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  align-items: flex-end;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
  gap: 1rem;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer-block__heading {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 600;
}
.social_payment .footer-block__heading {
  margin-bottom: 12px;
}
.block--social + .footer__payment {
  margin-top: 24px;
}

@media screen and (min-width: 990px) {
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social.list-social:only-child {
  justify-content: left;
  margin-top: 13px;
}

.footer-block__newsletter {
  flex-grow: 1;
}


.footer__blocks-wrapper .footer-block {
  flex: none;
}
.footer-block__heading {
  font-size: var(--fontsize_footer_heading);
  color: var(--color_footer_heading);
}
.footer-block__details-content .list-menu__item--link {
  font-size: var(--fontsize_footer_link);
  color: var(--color_footer_link);
  display: inline-block;
  position: relative;
  text-decoration: none !important;
  padding: 0;
  margin-bottom: 5px;
}
.footer-block__details-content .list-menu__item--link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  border-bottom: 1px solid;
  transition: width 0.3s;
}
.footer-block__details-content .list-menu__item--link:hover:after {
  width: 100%;
}
.footer-block__details-content {
  line-height: 20px;
}
@media screen and (min-width: 990px) {
  .footer__blocks-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer__blocks-wrapper .footer-block {
    width: var(--block-width);
    max-width: var(--block-width);
  }
}
@media screen and (max-width: 989px) {
  .footer-block.footer-block__newsletterblock {
    width: 100%;
    margin-top: 20px;
    order: -1;
  }
}
@media screen and (min-width: 750px) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
    margin-right: auto;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child)
    .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }
  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }
}

@media screen and (max-width: 749px) {
  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer-block--newsletter {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    gap: 3rem;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}

.location_footer {
	color: rgb(var(--color-foreground));
}
.location_footer ~ localization-form {
	margin-left: 20px;
	padding-left: 20px;
	position: relative;
}
.location_footer ~ localization-form:before {
	content: "";
	height: 30px;
	width: 1px;
	background: rgb(var(--color-input-border));
	position: absolute;
	left: 0;
	top: 50%;
	transform: translatey(-50%);
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.footer__localization:empty {
  display: none;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .footer__localization {
    padding: 0;
    justify-content: flex-start;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 989px) {
  .footer__localization noscript {
    width: 100%;
  }
  .footer__content-medium .footer-block__item ul{
    margin-left: -10px!important;
  }
  .footer__content-medium .footer-block__item {
    margin-bottom: 25px!important;
  }
  .footer__content-medium .footer-content {
    padding-top: 40px!important;
    padding-bottom: 20px!important;
  }
  .footer-block__newsletter .footer-block__subheading p{
    margin-bottom: 15px;
  }
  .search-modal__content{
    padding: 0 5rem 0 2rem;
  }
  .field__button{
    padding: 0!important;
  }
}

.footer__content-bottom-wrapper--center {
  justify-content: center;
}

.footer__copyright {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .footer__content-bottom-wrapper {
    justify-content: space-between;
  }
  .footer__column--info {
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
  }
  .policies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 0;
  }
  .footer__column--info .policies li + li:before {
    content: "";
    height: 6px;
    width: 6px;
    margin: 0 19px;
    background-color: #D0D0D0;
    border-radius: 50%;
    display: inline-block;
  }
}

@media screen and (min-width: 750px) {
  .footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center)
    .footer__copyright {
    text-align: left;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.copyright__content a {
  color: var(--color-foreground);
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}

.footer-block-image {
  display: flex;
}

.footer-block-image.left {
  justify-content: flex-start;
}

.footer-block-image.center {
  justify-content: center;
}

.footer-block-image.right {
  justify-content: flex-end;
}

@media screen and (max-width: 749px) {
  .footer-block-image,
  .footer-block-image.left,
  .footer-block-image.center,
  .footer-block-image.right {
    justify-content: center;
  }
}

.footer-block__image-wrapper {
  margin-bottom: var(--margin-mb);
  overflow: hidden !important;
}

.footer-block__image-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.footer-block__brand-info {
  text-align: left;
}

.footer-block__info-item {
	display: flex;
	gap: 20px;
  margin-bottom: var(--margin-bottom-mb);
}
.footer-block__info-item.info-item__2 h3,
.footer-block__info-item.info-item__2 h3 a{
  font-size: var(--font-size-heading);
  color: rgb(var(--color-button));
  margin: 0;
}
.footer-block__info-item p { 
	margin: 0;
  font-size: var(--font-size-mb);
}
.footer-block__newsletter-title{
  margin-top: 0;
  font-size: var(--font-size-mb);
  margin-bottom: var(--margin-bottom-mb);
}

.footer-block:only-child .footer-block__brand-info {
  text-align: center;
}

.footer-block:only-child
  > .footer-block__brand-info
  > .footer-block__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.footer-block-image > img,
.footer-block__brand-info > img {
  height: auto;
}

.footer-block:only-child
  .footer-block__brand-info
  .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__newsletterblock .footer-block__subheading {
	margin-bottom: 10px;
}
.footer-block__newsletterblock .field {
	display: flex;
	gap: 10px;
}
.footer-block__newsletterblock .field__input {
	border: 1px solid rgba(var(--color-foreground),0.1);
  width: calc(100% - 105px);
}
.footer-block__newsletterblock .field__button {
  width: 105px;
  min-width: 100px;
	padding: 0 20px;
}

.footer-block__brand-info .footer__list-social.list-social {
  justify-content: flex-start;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content {
  font-size: 1.1rem;
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.footer__content-medium .footer-block__item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.footer__content-medium .footer-block__item .title{
  margin: 0;
  color: var(--color_footer_heading);
}
.footer__content-medium .footer-block__item ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__content-medium .footer-block__item ul li{
  position: relative;
  padding: 0 10px;
  color: var(--color_footer_link);
}
.footer__content-medium .footer-block__item ul li a{
  color: var(--color_footer_link);
  position: relative;
}
.footer__content-medium .footer-block__item ul li:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 12px;
  width: 1px;
  content: "";
  background-color: #666;
}
.footer__content-medium .footer-block__item ul li:last-child::after{
  display: none;
}
.footer__content-medium .footer-block__item ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  border-bottom: 1px solid;
  transition: width .3s;
}
.footer__content-medium .footer-block__item ul li a:hover:after {
  width: 100%;
}
.footer__content-medium .footer-content{
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 990px) {
  .footer__blocks-wrapper {
    gap: 0;
  }
  .footer__blocks-wrapper .footer-block {
    padding-right: 20px;
  }
  .footer__blocks-wrapper .footer-block:last-child {
    padding-right: 0;
  }
}

@media screen and (max-width: 749px) {
  .footer-block.grid__item {
    width: 100%;
  }
  .footer__blocks-wrapper .footer-block__link_list {
    flex: auto;
  }
  .accordion_footer {
    position: relative;
    cursor: pointer;
  }
  .accordion_footer:before,
  .accordion_footer:after{
    content: "";
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%) rotate(0);
    transition: all ease .3s;
    background: var(--color_footer_heading);
}

  .accordion_footer:before {
    right: 5px;
    width: 2px;
    height: 12px;
  }
  .accordion_footer:after {
    right: 0;
    width: 12px;
    height: 2px;
  }
  .accordion_footer.active::before {
    transform: translateY(-50%) rotate(90deg);
}
  .footer-block__details-content.list-unstyled {
    height: 0;
    overflow: hidden;
    transition: all .3s;
  }
  .accordion_footer.active + .footer-block__details-content.list-unstyled {
    height: auto;
    overflow: visible;
    visibility: visible;
    padding-top: 15px;
  }
  .footer-block__link_list {
    padding: 6px 0;
  }
  .footer-block__link_list .footer-block__heading {
    margin: 0;
    line-height: 2;
  }
  .footer-block__details-content .list-menu__item--link {
    line-height: 1;
    margin-bottom: 0;
  }
  ul.footer-block__details-content li + li {
    margin-top: 16px;
  }
  .footer-block__text {
    margin-bottom: 16px;
  }
  .footer-block__social_payment {
    margin-top: 16px;
  }
  .footer-block__social_payment .footer-block__heading {
    margin-top: 0;
  }
  .policies {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer__content-top {
    padding-bottom: 3rem;
  }
  .footer__blocks-wrapper {
    gap: 0;
  }
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}
@media screen and (max-width: 540px) {
  .newsletter-form__field-wrapper .field {
      flex-direction: column;
  }
  .newsletter-form__field-wrapper .field__input,
  .footer-block__newsletterblock .field__button {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-block__heading{
    margin-bottom: 20px;
  }
  .block--social{
    margin-top: 10px;
  }
  .footer__payment{
    gap: 0px!important; 
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 749px) {
  .footer__content-bottom {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    row-gap: 1.5rem;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    row-gap: 1.5rem;
    justify-content: center;
  }
  .policies {
    margin-bottom: 10px;
  }
  .footer-block__newsletter-title{
    margin-top: 30px;
  }
}
@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    gap: 0;
    row-gap: 6rem;
    margin-bottom: 0;
    justify-content: space-between;
  }
  .footer-block__image-wrapper {
    margin-bottom: var(--margin);
  }
  .footer-block__info-item {
    margin-bottom: var(--margin-bottom);
  }
  .footer-block__info-item p { 
    font-size: var(--font-size);
  }
  .footer-block__newsletter-title{
    font-size: var(--font-size);
    margin-bottom: var(--margin-bottom);
  }
}