.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

.rich-text .rich-text__heading{
  font-weight: var(--font-weight);
  font-size: var(--font-size-mb);
  margin-bottom: var(--margin-bottom-mb);
}
.rich-text .rich-text__text{
  font-size: var(--font-size-mb);
  margin-bottom: var(--margin-bottom-mb);
  max-width: 450px;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
  .rich-text .rich-text__heading,
  .rich-text .rich-text__text{
    font-size: var(--font-size);
    margin-bottom: var(--margin-bottom);
  }
  .rich-text__buttons {
    margin-bottom: var(--margin-bottom);
  }
  
  .rich-text__buttons .button {
    font-size: var(--font-size)!important;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
  font-weight: 500;
}
.rich-text__blocks .button_icon{
  line-height: 0;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}
.rich-text__text b,
.rich-text__text strong{
  font-weight:600;
  font-size:calc(var(--font-size) + 4px);
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  word-break: break-word;
  margin-bottom: var(--margin-bottom-mb);
}

.rich-text__buttons .button {
  font-size: var(--font-size-mb);
  padding: 0 1rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}
