.grid-item--round {
    border-radius: 50%;
}
.brand-card__image-wrapper {
    padding: 0;
}
.brand-card__image-wrapper img {
    object-fit: contain;
    max-width: var(--width) !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}
.brand-card__image-wrapper .grid-item--round img {
    max-height: var(--width) !important;
    overflow: hidden;
    border-radius: 50%;
}
.brand-card__info h3,
.brand-card__info p {
    margin: 0;
}
.brand-card__info h3{
    margin-top: 12px;
    margin-bottom: 3px;
}

@media (min-width: 750px) and (max-width: 989px) {
    .brand-list .brand-list__item {
        width: calc(33.33% - var(--grid-desktop-horizontal-spacing) / 2 * 3);
        max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) / 2 * 3);
        flex-grow: auto;
    }
}